{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": "3.38.0",
        "targets": "> 0.25%, not dead",
        "modules": false
      }
    ],
    "@babel/preset-react"
  ]
}